.project {
  padding: .5rem;
  border: 2px dotted var(--yellow);
  border-left: 5px solid var(--yellow);
  transition: 1s;
}

.languages {
  align-self: center;
  padding: .05rem;
}

.tag {
  border: 1px dotted var(--salmon);
  padding: 5px;
}

.lang-tag {
  background-color: var(--jet);
  margin: 5px;
}

.link {
  width: 15px;
}

.desc {
  overflow: hidden;
  max-height: 0px;
  transition: max-height .25s ease-in;
}

.expanded {
  padding: .5rem;
  max-height: 100vh;
  transition: max-height 0.25s ease-out;
}

.desc-content {
  margin: .5rem 0;
}