#foot {
  margin: 0 .75rem;
  height: 25vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#foot > a {
  margin-top: 2rem;
}

#foot > small {
  margin-top: 2rem;
}