html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
}

#Base {
  display: flex;
  flex-direction: column;
  background-color: #131516;
  color: #f0ead6;
  font-family: monospace;
  width: 100vw;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border-radius: 0;
  border: 1px solid black;
  padding: 0 5px;
}

img {
  image-rendering: crisp-edges;
}

.dropdown-item {
  background: inherit;
  padding: 0.2rem;
}

.dropdown-menu {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 0.875rem;
  height: 100%;
}

/* Helpers */
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
