:root {
  --yellow: #efcb68;
  --black: #000411;
  --honeydew: #e1efe6;
  --salmon: #f39a9d;
  --jet: #2f2f2f;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  font-family: 'Anonymous Pro', monospace;
  color: var(--honeydew);
  /*font-size: .875rem; */
  background-color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', monospace;
}

#Base {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--honeydew);
  font-family: monospace;
  width: 100vw;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border-radius: 0;
  padding: 0 5px;
  border: 1px dotted var(--yellow);
}

img {
  image-rendering: crisp-edges;
}

.dropdown-menu {
  padding: 0.5rem 1rem;
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  background: var(--black);
}

button {
  font-size: 0.875rem;
  height: 100%;
  color: var(--honeydew);
}

/* Helpers */
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.sr-only {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content {
  background-color: var(--black);
  margin: 15% auto;
  color: white;
  padding: 20px;
  border: 1px dotted #888;
  width: 80%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  border-bottom: 1px dotted var(--yellow);
}

.modal-body {
  padding-top: 0.5rem;
}

.pr-1 {
  padding-right: 0.25rem;
}
.pl-1 {
  padding-left: 0.25rem;
}

.d-none {
  display: none;
}
