:root {
  --dark-navy: #111313;
  --navy: #1d2020;
  --light-navy: #112240;
  --lightest-navy: #5b6069;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --gold: rgb(255, 190, 72);
  --gold-tint: rgba(255, 190, 72, .1);

  --font-sans: "Open Sans", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
}

html {
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--dark-navy);
  color: var(--lightest-slate);
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
  @media (max-width: 480px) {
    font-size: var(--fz-lg);
  }
}

ul,
ol {
  list-style-type: none;
  font-size: var(--fz-md);
}

li:before {
  content: "‣";
  margin-left: -20px;
  margin-right: 10px;
  color: var(--gold);
}

li {
  font-family: var(--font-mono);
}

small {
  font-size: var(--fz-sm);
}

.core {
  width: 80vw;
  margin: 0.5rem auto;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  background: var(--navy) url(./images/sinkdark.png) 0 0 repeat;
  position: relative;
}
#root::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.2)
    );
  z-index: 10;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  color: var(--lightest-slate);
  line-height: 1.1;
}

#Base {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
}


.container {
  margin-right: .85rem;
}

a {
  text-decoration: none;
  color: var(--gold);
}

a:hover {
  text-decoration: underline dotted var(--gold);
}

img {
  image-rendering: crisp-edges;
}

.subtitle {
  color: var(--gold);
  font-size: var(--fz-md);
  font-family: var(--font-mono);
  line-height: 1.5;
  @media (max-width: 1080px) {
    font-size: var(--fz-sm);
  }
  @media (max-width: 768px) {
    font-size: var(--fz-xs);
  }
}

button {
  font-size: 0.875rem;
  height: 100%;
  color: var(--honeydew);
}

button {
  color: var(--gold);
  background-color: transparent;
  border: 1px solid var(--gold);
  border-radius: var(--border-radius);
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  padding: 1.25rem 1.75rem;
}
button::after {
  display: none !important;
}

button:hover,
button:active,
button:focus {
  outline: none;
  background-color: var(--gold-tint);
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

